
.idea/workspace.xml
./venv
./settings.ini
.idea/misc.xml
.idea/vex.python3.6.iml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
./config.ini
main.spec
